body{
    margin: 10%;

}
.first{

height: 400px;

}
.firstdiv{ 
    width: 50%;
    float: left;

}
img{
    width: 100%;
}
.topwrite{
    padding-top: 100px;
}
.textlight{

    color: rgb(249, 12, 91);
    font-family: 'Courier New', Courier, monospace;
}
.linkbutton{
    text-decoration: none;
    background-color:#ed0955fe;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-weight: 600;
}
.padee{

    padding-left: 30px;
}
